<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Team 215</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="#" class = "nav_lk" style="padding-left: 15px;">Home</a>
                <a href="/about" class = "nav_lk">About</a>
                <a href="/services" class = "nav_lk">Services</a>
                <a href="/team" class = "nav_lk">Team</a>
                <a href="/descriptions" class = "nav_lk">Description</a>
                <a href="/contact" class = "nav_lk">Contact</a>
            </nav>
        </header>
        <h1 id = "Head">Photo Caption Generator</h1>
        <div align="center">
        <img src="{{ url_for('static', filename='line.gif') }}" alt="GIF" >
        </div>
        <div id="div_1" align="center">
            <a href="/caption"><input align=center type="button" value="Generate caption" id = "cap_bt", name = "cap_bt"></a>
            <a href="/editor"><input align=center type="button" value="Enhance Image" id = "edt_bt", name = "edt_bt"></a>
        </div>
    </body>


</html>